*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    background-color: #181A1B;
}
.main{
    width: 70vh;
    height: 90vh;
    background-color: #2e3132;
    margin-left: 30%;
    margin-top: 30px;
    border: 2px solid grey;
    border-radius: 20px;
}
.main h1{
    margin-top: 20px;
    text-align: center;
    color: #f8457b;
}
