body {
    font-family: sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #202325;
  }
  
  .container {
    color: whitesmoke;
    background-color: #181A1B;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    position: relative;
  }
  
  .leaves {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
  }
  
  /* .leaf {
    display: block;
    width: 50px;
    height: 30px;
    border-radius: 50% / 100%;
    position: absolute;
  }
  
  .leaf-1 {
    background-color: #C3073f;
    animation: rotateLeft 2s ease-in-out infinite;
  }
  
  .leaf-2 {
    background-color: #950740;
    animation: rotateRight 2s ease-in-out infinite;
    bottom: 0;
    right: 0;
    transform: translate(50%, 50%);
  }
  
  @keyframes rotateLeft {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes rotateRight {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  } */
  
  .header {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .header h1 {
    font-size: 2.5em;
    color: #f8457b;
  }
  
  .header h2 {
    font-size: 1.2em;
    color: #999;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }

  .form-group a{
    text-decoration: none;
    color: #ffffffaa;
    padding-left: 120px;
    text-align: center;
  }

  .form-group button{
    background-color: transparent;
    border: none;
    margin-left: 170px;
  }

  #help{
    padding-left: 150px;
  }
  
  #lblWelcome{
    text-align: center;
  }

  #lblUsername, #lblPassword{
    margin-left: 85px;
  }
#sign-in{
  color: white;
  background-color: #f8457b;
  border-radius: 5px;
  font-size: 15px;
}
#username, #password{
    width: 210px;
    margin-left: 85px;
    background-color: transparent;
}
input{
  display: inline;
  border: 1px solid white;
  opacity: 90%;
  border-radius: 20px;
  height: 30px;
  background-color: rgb(60, 60, 60);
  font-size: 20px;
  color: white;
  padding-left: 20px;
}
.input-group{
  position: relative;
}
.placeholder1{
  color: white;
  font-size: 14px;
  opacity: 50%;
}
.placeholder1{
  position: absolute;
  left: 25px;
  top: 10px;
  pointer-events: none;
  transition: .25s ease-out;
}
input:focus + .placeholder1{
  top: -8px;
  left: 27px;
  transition: .25s ease-in;
  opacity: 100%;
  background-color: #181A1B;
}
.placeholder2{
  color: white;
  opacity: 50%;
  font-size: 14px;
}
.placeholder2{
  position: absolute;
  left: 25px;
  top: 58px;
  pointer-events: none;
  transition: .25s ease-out;
}
input:focus + .placeholder2{
  top: 40px;
  left: 27px;
  transition: .25s ease-in;
  opacity: 100%;
  background-color: #181A1B;
}